<header>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-5 col-xs-5">
        <div class="logo"> <a href="/"><img src="/assets/images/logo.png" /></a> </div>
      </div>
      <div class="col-md-4 col-sm-7 col-xs-7">
        <div class="menu">
        	<ul class="nav navbar-nav">
              <li><a routerLink="/signinup">Signup</a></li>
                  <li><a routerLink="/signinup">Login</a></li>
                  <li><a routerLink="/courses">courses</a></li>
              </ul>
                  </div>
      </div>
    </div>
    </div>
 
</header>
<section class="main">
	
<div class="login-signup">
	<div class="container">
		<h1>Unlock Your Potential</h1>
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-4">
				<div class="login">
					<h3>Login</h3>
					<form>
					  <div class="form-group">
					    <input type="email" class="form-control" id="email" placeholder="Email Address">
					  </div>
					  <div class="form-group">
					    <input type="password" class="form-control" id="pwd" placeholder="Password">
					  </div>
					  <button type="submit" class="btn btn-default">Login</button>
					</form>
				</div>

			</div>
			<div class="col-sm-4">
				<div class="signup">
					<h3>Signup</h3>
					<form>
						<div class="form-group">
					    <input type="text" class="form-control" id="name" placeholder="Your Name">
					  </div>
					  <div class="form-group">
					    <input type="email" class="form-control" id="email" placeholder="Email Address">
					  </div>
					  <div class="form-group">
					    <input type="text" class="form-control" id="phone" placeholder="Phone Number">
					  </div>
					  <div class="form-group">
					    <input type="text" class="form-control" id="course" placeholder="Course your interested in">
					  </div>
					  <button type="submit" class="btn btn-default">Signup</button>
					</form>
				</div>

			</div>
			<div class="col-sm-2"></div>

		</div>
	</div>

</div>	
</section>

<footer>
  <div class="container">
  	<div class="row">
  		<div class="col-sm-5">
  			<div class="footer-left">
  				<div class="footer-logo"><img src="/assets/images/footer-logo.png"></div>
  				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus</p>
  				<div class="footer-links">
  					<ul>
  						<li><a href="javascript:void(0);">ABOUT US</a></li>
  						<li><a href="javascript:void(0);">FEATURES</a></li>
  						<li><a href="javascript:void(0);">CONTACT</a></li>
  					</ul>
  				</div>
  			</div>
  		</div>
  		<div class="col-sm-7">
  			<div class="footer-social">
  				<a href="javascript:void(0);"><img src="/assets/images/facebook.png"></a>
  				<a href="javascript:void(0);"><img src="/assets/images/twitter.png"></a>
  				<a href="javascript:void(0);"><img src="/assets/images/googleplus.png"></a>
               <a href="javascript:void(0);"><img src="/assets/images/instagram.png"></a>
  			</div>
  		</div>
  	</div>
  </div>
  </footer>