<header>
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-5 col-xs-5">
          <div class="logo"> <a href="/"><img src="/assets/images/logo.png" /></a> </div>
        </div>
        <div class="col-md-4 col-sm-7 col-xs-7">
          <div class="menu">
            <ul class="nav navbar-nav">
                  <li><a routerLink="/signinup">Signup</a></li>
                  <li><a routerLink="/signinup">Login</a></li>
                  <li><a routerLink="/courses">courses</a></li>
                </ul>
                    </div>
        </div>
      </div>
      </div>
   
  </header>
  
<section class="main">
  
    <div  mnFullpage 
    [mnFullpageNavigation]="true" 
    [mnFullpageKeyboardScrolling]="true"
    [mnFullpageControlArrows]="false">

    <div class="section " id="section0">
      <div class="row">
        <div class="col-sm-1 col-md-1"></div>
        <div class="col-sm-4 col-md-4">
          <div class="img-block imgsContainer"><img src="/assets/images/home-img1.png"></div>
          
        </div>
        <div class="col-sm-6 col-md-5">
          <div class="conatent-block box position1">
            <h2>AWS and Cloud Computing</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            </p>
            <div class="read-more"><a href="#">Read More</a></div>
          </div>
        </div>
        <div class="col-sm-1 col-md-2"></div>
      </div>
     </div>
     <div class="section" id="section1">
       <div class="row">
        <div class="col-sm-1 col-md-1"></div>
        <div class="col-sm-4 col-md-4">
          <div class="conatent-block box position2">
            <h2>BigData</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            </p>
            <div class="read-more"><a href="#">Read More</a></div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6">
          <div class="img-block imgsContainer"><img src="/assets/images/home-img2.png"></div>
          
        </div>
        
        <div class="col-sm-1 col-md-1"></div>
      </div>
       </div>
   
     <div class="section moveDown" id="section2">
       <div class="row">
        <div class="col-sm-1 col-md-1"></div>
        <div class="col-sm-4 col-md-4">
          <div class="img-block imgsContainer"><img src="/assets/images/home-img3.png"></div>
          
        </div>
        <div class="col-sm-6 col-md-6">
          <div class="conatent-block box position1">
            <h2>AWS and Cloud Computing</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            </p>
            <div class="read-more"><a href="#">Read More</a></div>
          </div>
        </div>
        <div class="col-sm-1 col-md-1"></div>
      </div>
     </div>
     <div class="section moveDown" id="section3">
       <div class="row">
        <div class="col-sm-1 col-md-1"></div>
        <div class="col-sm-4 col-md-4">
          <div class="conatent-block box position2">
            <h2>Advanced AWS and Cloud Computing</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            </p>
            <div class="read-more"><a href="#">Read More</a></div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6">
          <div class="img-block imgsContainer"><img src="/assets/images/home-img4.png"></div>
          
        </div>
        
        <div class="col-sm-1 col-md-1"></div>
      </div>
   </div>
</div>


</section>



<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="footer-left">
                    <div class="footer-logo"><img src="/assets/images/footer-logo.png"></div>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus</p>
                    <div class="footer-links">
                        <ul>
                            <li><a href="javascript:void(0);">ABOUT US</a></li>
                            <li><a href="javascript:void(0);">FEATURES</a></li>
                            <li><a href="javascript:void(0);">CONTACT</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="footer-social">
                    <a href="javascript:void(0);"><img src="/assets/images/facebook.png"></a>
                    <a href="javascript:void(0);"><img src="/assets/images/twitter.png"></a>
                    <a href="javascript:void(0);"><img src="/assets/images/googleplus.png"></a>
                 <a href="javascript:void(0);"><img src="/assets/images/instagram.png"></a>
                </div>
            </div>
        </div>
    </div>

    <div id="stop" class="scrollTop">
      <span><a href="">Top</a></span>
    </div>
    </footer>

    